@import url(//fonts.googleapis.com/css?family=Poiret+One);

body {
      line-height: 1.8;
      color: #f5f6f7;
      font: 20px 'Poiret One', Raleway;
  }

p {
  font-size: 16px;
}
  
* {margin:0;padding:0;} 
html, body {height: 100%;}
#wrap {
  min-height: 100%;
  background-color: #FFFFFF;
}

#main {
  overflow:auto;
  padding-bottom: 150px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
} 

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: transparent;
}
.navbar-nav  li a:hover {
    color: red !important;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 1.3em;
}

.navbar-default .navbar-nav a:hover {
    color: White;
    font-size: 1.3em;
    border-bottom: 3px solid gray;
}
.navbar-brand {
  padding: 0; /* firefox bug fix */
  width: auto;
}

a{
  color: black;
  text-decoration: none;
  font-size: 15px !important;
}

.github {
  text-decoration: none;
  color: gray;
  text-decoration: none;
}

a:link {
color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:focus {
  color: black;
}

hr {
    width: 500px;
    border: none;
    height: 2px;
    background-color: #dedede;
    margin: 0 auto;
}

.outer {
    display: table;
    height: 90%;
    width: 100%;
    text-align: center;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.top-section {
    padding: 25px 0 25px 0;
}

.top-section img {
    border-radius: 100%;
}

.top-section p {
    color: #C7C7CC;
}

.content {
    padding: 25px 0 25px 0;
    color: #68686d;
    line-height: 1.6em;
    margin: 0 auto;
    width: 500px;
    text-align: justify;
}

.content a {
    color: #E58282; 
    text-decoration: none;
}

.info {
    color: #007AFF;
}

.image-div-right h3 {
    letter-spacing: 5px;
}

.links a {
    padding: 10px;
    letter-spacing: 2px;
    color: #34AADC;
    text-decoration: none;
}

small a {
      letter-spacing: 1px;
      text-transform: lowercase;
      font-size: 8px;
      color: black;
}

small {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    color: #555;
}

@media (max-width: 640px) {
    .outer {
        padding: 50px 0 50px 0;
    }
    .content {
        width: 80%;
    }
    hr {
        width: 80%;
    }
}
h1 {
  text-align: center;;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
  }
h3 {
  font-weight: 400;
  padding: 0 0 5px 0;
  color: #333;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
ul li {
    display:inline-block;
    display: center;

}
.social {
  display: center;
}

#tags span.tag{
  text-align: center;
  cursor:pointer;
  display: inline;
  float:left;
  color:#555;
  background:#ddddaa;
  padding:5px 5px;
  margin:4px;
  border-radius: 75%;
  font-size: 10px;
}
#tags span.tag:hover{
  opacity:0.7;
}

.navbar-bottom {
min-height: 300px;
margin-top: 0;
background-color: gray;
padding-top: 35px;
color:#FFFFFF;
}

.jumbotron {
    position: relative;
    background: black;
    width: 100%;
    height: 200%;
    background-size: cover;
    overflow: hidden;
}




