@import url(//fonts.googleapis.com/css?family=Poiret+One);

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Poiret One', Raleway;
    height: 100%;
    width: 100%;
}

hr {
    width: 300px;
    border: none;
    height: 2px;
    background-color: #dedede;
    margin: 0 auto;
}

.outer {
    display: table;
    height: 85%;
    width: 100%;
    text-align: center;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.top-section {
    padding: 25px 0 25px 0;
}

.top-section img {
    width: 100px;
    border-radius: 25%;
    padding: 0 0 5px 0;
}

h3 {
    font-weight: 400;
    padding: 0 0 5px 0;
    color: #333;
    font-size: 1.5em;
}

.top-section p {
    color: #C7C7CC;
}

.content {
    padding: 25px 0 25px 0;
    color: #68686d;
    line-height: 1.6em;
    margin: 0 auto;
    width: 300px;
    text-align: justify;
    
}

.content a {
    color: #E58282; 
    text-decoration: none;
}

.info {
    color: #007AFF;
}

.image-div-right h3 {
    letter-spacing: 5px;
}

.links a {
    padding: 10px;
    letter-spacing: 2px;
    color: #34AADC;
    text-decoration: none;
}


.project-work {
    height: 100%;
    width: 100%;
    color: #8E8E93;
    line-height: 1.6em;
}

.close {
    text-decoration: none;
    color: #dedede;
    font-size: 25px;
}

.project {
    margin: 0 auto;
    text-align: justify;
    width: 300px;
    padding: 10px 0 10px 0;
}

.project a {
    text-decoration: none;
    color: #E58282;
}

small {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    color: #8E8E93 ;
}

@media (max-width: 640px) {
    .outer {
        padding: 50px 0 50px 0;
    }
    .content {
        width: 80%;
    }
    hr {
        width: 80%;
    }
    .project-work {
            width: 80%;
        }
}