<div class="outer">
    <div class="inner">
        <div class="top-section">
            <img src="views/images/logo2.jpg" alt="logo" class="img-circle" width="140" height="140">
            <br>
            <h3>Arif Furqon</h3>
            <small>Full-stack Developer</small>
        </div>
        <hr>
        <div class="content"> 
            Hi there and nice to meet you! I'm a full-stack developer fluent in client-side and server-side Javascript. 

            I heart assisting and creating beautifully engineered, genuinely useful and edgy products. Currently, based in Union Square, San Francisco and you will find me often at meetups and wholefoods.

            I am in the process of building a few different projects, will be updating soon! 

            <br>
            <br> Find me on
            <a href="https://github.com/ariffurqon">GitHub</a> and 
            <a href="https://www.linkedin.com/in/ariffurqon">LinkedIn</a>
        </div>
    </div>
</div>