<div class="outer">
    <div class="inner">
        <div class="top-section">
            <img src="views/images/logo.png" alt="logo">
            <br>
            <h3>Arif Furqon</h3>
            <small>Full-stack Developer</small>
        </div>
        <hr>
        <div class="content"> Hi there! I'm a full-stack developer fluent in client-side and server-side Javascript and always interested in what's new and cutting edge, will assist in creating beautifully engineered, genuinely useful and empowering software. Currently, based in San Francisco where I attend meetups and events constantly. 

        I am in the process of building a few different projects, will be updating soon! 

            <br>
            <br> Find me on
            <a href="https://github.com/ariffurqon">GitHub</a>,
            <a href="https://www.linkedin.com/in/ariffurqon">LinkedIn
            <!-- and check out my
            <a href="#">blog</a>. -->
            <br>
        </div>
    </div>
</div>