<div class="outer">
    <div class="inner">
        <div class="top-section">
            <img src="views/images/logo2.jpg" alt="logo" class="img-circle" width="140" height="115">
            <br>
            <h3>Arif Furqon</h3>
            <small>JavaScript Developer</small>
        </div>
        <hr>
        <div class="content"> 
            <p>Hi there! I'm a full-stack developer fluent in client-side and server-side Javascript. I 'heart' staying on the bleeding edge of technology to assist and create beautifully engineered, genuinely useful and edgy products.</p>

       
            <p>Currently, based in Union Square, San Francisco and you will find me often at meetups and fresh-produced section at wholefoods:) #wonderwhy</p>

      
            <p>You may check out my recent <a href="/projects">projects</a> and you can find me on
            <a href="https://github.com/ariffurqon" target="_blank">GitHub</a> and 
            <a href="https://www.linkedin.com/in/ariffurqon" target="_blank">LinkedIn.</a> The best way to reach me is via <a href="mailto:arif.furqon@gmail.com">e-mail</a> and let's talk!</p>
        </div>
    </div>
</div>
