<div class="project-work outer">
    <div class="inner">
        <h3>Recent Projects</h3>
        <a ng-href="/"> << back to the main page</a>
        <br>
        <div class="project">
            <h3><a href="https://dlish.firebaseapp.com" target="_blank">dlish</a></h3>
            <small>full stack</small>
            <br>
            <p>A web application for curating the best foodie adventures built using Angular.js frameworks with Firebase.</p>
        </div>
        <br>
        <div class="project">
            <h3><a href="https://github.com/ariffurqon/biblio" target="_blank">biblio</a></h3>
            <small>full stack</small>
            <br>
            <p>A mobile application for searching books built using the awesomeness of React-Native with googlebooks api.</p>
        </div>

        <br>
        <div class="project">
            <h3><a href="https://github.com/ariffurqon/spider" target="_blank">spider</a></h3>
            <small>full stack</small>
            <br>
            <p>A tabbed browser desktop application built using NW.js, express and Angular.js</p>
        </div>

    </div>
</div>