<!--SECTION BLOG-->
<section id="project" class="cd-section section-blog">
    <div class="container">
        <div class="row">
            <h1 class="t-blog"><strike>BLOG</strike>, ...Coming soon!</h1>
            <div class="col-md-12">
                <div class="box-content">
                    <div class="blog-item first-child">
                        <div class="blog-img"><img src="http://placehold.it/1100x600" alt="" /></div>
                            <div class="blog-desc box-text">
                                <h2>Stay tuned! <span class="date-blog"></span><img src="images/logo.png" width="60" height="60"</h2>
                            </div>
                        </div>
                </div><!--close box content-->
            </div>
        </div>      
    </div>
</section>
<hr />


