<!-- contact.html -->
<section id="section4" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h1>Get in-touch!</h1>
                <div class="box-content contact">
                    <div class="col-md-4 c-info"><p><i class="fa fa-phone"></i>+1-202-341-4390</p></div>
                    <div class="col-md-4 c-info"><a href="https://linkedin.com/in/ariffurqon" title="linkedin" target="_blank"><p><i class="fa fa-linkedin"></i>linkedin.com/in/ariffurqon</p></div>
                    <div class="col-md-4 c-info"><a href="mailto:arif.furqon@gmail.com" title="Email" target="_blank"><p><i class="fa fa-envelope-o"></i>arif.furqon@gmail.com</p></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- cd-section -->



 