<div class="outer">
  <div class="inner">
    <div class="top-section">
    </div>
    <div class="social">
      <h2>Get in Touch!</h2>
      <h4>I'm currently available for freelance work. <br>Get in touch and let's create something edgy!<br>
        <br>
      <ul>
      <li>
      <a class="github" href="https://linkedin.com/in/ariffurqon" target="_blank">
          <img src="images/linkedIn.png" alt="github" class="img-circle" width="30" height="30"> 
      </a>
      </li>
      <li>
      <a class="github" href="https://github.com/ariffurqon" target="_blank">
          <img src="images/github.png" alt="github" class="img-circle" width="50" height="50"> 
      </a>
      </li>
      <li>
      <a class="github" href="mailto:arif.furqon@gmail.com" target="_blank">
          <img src="images/email.png" alt="github" class="img-round" width="30" height="30"> 
      </a>
      </li>
      <br>
    </ul>

    </div>
  </div>
</div>