<div class="outer">
  <div class="inner">
    <div class="top-section">
        <br>
        <img src="images/facepic.png" alt="arifpic" class="img-circle" width="250" height="250" display="center">
        <br>
    </div>

    <div class="social">
      <h4>Contact me preferably via <a href="mailto:arif.furqon@gmail.com" target="_blank">e-mail</a>, <br
        > or try the following:</h4>
      <ul>
      <li>
      <a class="github" href="https://linkedin.com/in/ariffurqon" target="_blank">
          <img src="images/linkedIn.png" alt="github" class="img-circle" width="30" height="30"> 
      </a>
      </li>
      <li>
      <a class="github" href="https://github.com/ariffurqon" target="_blank">
          <img src="images/github.png" alt="github" class="img-circle" width="50" height="50"> 
      </a>
      </li>
      <li>
      <a class="github" href="mailto:arif.furqon@gmail.com" target="_blank">
          <img src="images/email.png" alt="github" class="img-round" width="30" height="30"> 
      </a>
      </li>
      <br>
    </ul>

    </div>
  </div>
</div>