<!-- footer -->
<section id="section6" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <footer class="box-content">
                    <div class="footer-logo"><img src="images/logo.png" alt="logo" width="60px" height="60px" />.design
                    </div>
                        <div class="footer-social">
                        <a href="https://linkedin.com/in/ariffurqon" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/ariffurqon" title="Github" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="mailto:arif.furqon@gmail.com" title="Email" target="_blank"><i class="fa fa-envelope"></i></a>
                        </div><br>

                    <div class="col-md-12">
                      <h7 id='footer-header'>Like what you see?</h7>
                      <h7 id='footer-header'>Let's chat, I've got tea & cupcakes <br>(if you're quick)</h7>
                        
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>