<!-- <footer id="footer" class="container-fluid bg-4 text-center">
  <div class="copyright"><a href="http://arif.design" target="_blank">namaste © 2016 arif.design</a></div> 
</footer>
 -->

 <footer>
	<nav class="navbar navbar-inverse navbar-bottom" style="padding:10 0 50px 0">
	   <div class="container">
	      <div class="row">
	        <div class="col-sm-4">
	            <h5 id='footer-header'> SITEMAP </h3>
	                <div class="col-sm-4" style="padding: 0 0 0 0px">
	                        <p><a href="#/portfolio">Portfolio</a></p>
	                        <p><a href="#/home">About</a></p>
	                        <p><a href="#/contact">Contact</a></p>
	                </div>
	                </div>

	                <div class="col-sm-4">
	                  <h5 id='footer-header'>Like what you see?</h3>
	                  <h5 id='footer-header'>Let's talk. I've got coffee, tea & cookies (if you're quick)</h3>
	                  	<p><a href="http://arif.design" target="_blank">namaste © 2016 arif.design</a></p>
	                </div>

	                <div class="col-sm-4">
	                  <h5 id='footer-header'> Get in touch! </h3>
	                    <p><a class="github" href="mailto:arif.furqon@gmail.com" target="_blank"> <img src="images/email.png" alt="github" class="img-circle" width="30" height="30"></a>
	                    &nbsp<small>arif.furqon@gmail.com</small>
	                    </p>

	                    <p><a class="github" href="https://github.com/ariffurqon" target="_blank"><img src="images/github.png" alt="github" class="img-circle" width="30" height="30"></a>
	                    &nbsp<small>github.com/ariffurqon</small>
	                    </p>     
      								
      								<p><a class="github" href="https://linkedin.com/in/ariffurqon" target="_blank"><img src="images/linkedIn.png" alt="github" class="img-circle" width="30" height="30"></a>
      								&nbsp<small>linkedin.com/in/ariffurqon</small>
      								</p>

	                </div>
	            </div>
	        </div>
	 </nav>       
</footer>