<!-- Navbar/header.html-->
<header>
    <div id="top" class="container">
        <div class="row">
            <div class="col-md-12 logo">
                <div class="content-logo"><img src="images/logo.png" width="60" height="60" alt="" />.design
                  <div class="header-social">
                      <a href="https://linkedin.com/in/ariffurqon" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                      <a href="https://github.com/ariffurqon" title="Github" target="_blank"><i class="fa fa-github"></i></a>
                      <a href="mailto:arif.furqon@gmail.com" title="Email" target="_blank"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
            </div><br>
        
            <nav class="col-md-12">
                <div class="mini-menu"><i class="fa fa-bars"></i></div>
                    <ul class="menu" auto-active >
                        <li class="cl-effect-11"><a data-hover="ABOUT" href="#/">ABOUT</a></li>
                        <li class="cl-effect-11"><a data-hover="PORTFOLIO" href="#/portfolio">PORTFOLIO</a></li>
                        <li class="cl-effect-11"><a data-hover="BLOG" href="#/blog">Blog</a></li>
                        <li class="cl-effect-11"><a data-hover="CONTACT" href="#/contact">CONTACT</a></li>
                    </ul>
            </nav>
        </div>
    </div>
  </header>

  <script>
      // Mobile menu toggle
      var mobile_nav = $(".mini-menu");
      mobile_nav.click(function () {
          $("#top").find(".menu").toggle(1000);
      });
  </script>


