<!-- home.html -->

<section id="section1" class="cd-section ng-scope">
       <div class="container">
           <div class="row">
            <div class="col-md-12">
              <div class="box-content">
            <h1> WHO I AM </h1>

                <div class="col-md-12">
                 <div class="col-md-4">
                     <div class="box-text">
                         <h2>TL;DR</h2>
                         <p>I'm a full-stack software engineer fluent in client-side and server-side Javascript. I'm working hard to stay on the bleeding edge of technology so that I can assist and create beautifully engineered, genuinely useful and edgy products. </p>
                         <p>I'm currently exploring React.js and Angular 2, also diving into the world of mobile development with React-Native.</p>
                     </div>
                  </div>

                  <div class="col-md-4">
                      <div class="box-img">
                          <h2>This is me..</h2>
                          <img src="images/facepic.png" alt="facepic" width="250" height="250"/>
                      </div>
                  </div>


                  <div class="col-md-4">
                     <div class="box-text">
                         <h2>WHAT I LOVE</h2>
                         <p>Outside programming and web development, I'm a big fan of fitness (soul-cycle/spinning, anyone?), nutrition, and a dash of men's couture. Based in Union Square, San Francisco, you will find me often at meetups/some events in the city. Day & night I'm working on not-so-secret <a href="#/portfolio">projects</a> and share my code on 
                         <a href="https://github.com/ariffurqon" target="_blank">GitHub.</a> More of me on 
                        <!-- <a href="https://www.linkedin.com/in/ariffurqon" target="_blank"> -->LinkedIn.</p>
                     </div>
                  </div>

              </div><!--close box content-->
            </div> <!-- col-md-12 -->
         </div><!--close row-->
      </div><!--close container-->
</section>

<section id="section3" class="cd-section ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-content">
                    <h1>My Skills</h1>
                        <div class="col-md-6">
                            <div class="box-text">
                                <h2>Programming Language and Database</h2>
                                    <div class="skills-box">
                                        <div class="skills-progress">
                                            <p>JavaScript<span>87%</span></p>
                                                <div class="meter nostrips develope">
                                                    <p style="width: 87%"></p>
                                                </div>
                                            <p>HTML5<span>95%</span></p>
                                                <div class="meter nostrips design">
                                                    <p style="width: 95%"></p>
                                            </div>
                                            <p>CSS3<span>85%</span></p>
                                                <div class="meter nostrips branding">
                                                    <p style="width: 85%"></p>
                                                </div>
                                            <p>MongoDB<span>85%</span></p>
                                                <div class="meter nostrips web-applications">
                                                    <p style="width: 85%"></p>
                                                </div>
                                            <p>Firebase<span>85%</span></p>
                                                <div class="meter nostrips web-applications">
                                                    <p style="width: 85%"></p>
                                                </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
                                <div class="box-text">
                                    <h2>My top 5 Frameworks & Libraries</h2>
                                        <div class="skills-box">
                                            <div class="skills-progress">
                                                <p>Angular.js<span>87%</span></p>
                                                    <div class="meter nostrips develope">
                                                        <p style="width: 87%"></p>
                                                    </div>
                                                <p>Node.js<span>95%</span></p>
                                                    <div class="meter nostrips design">
                                                        <p style="width: 95%"></p>
                                                    </div>
                                                <p>React.js<span>85%</span></p>
                                                    <div class="meter nostrips branding">
                                                        <p style="width: 85%"></p>
                                                    </div>
                                                <p>React-Native.js<span>85%</span></p>
                                                    <div class="meter nostrips web-applications">
                                                        <p style="width: 85%"></p>
                                                    </div>
                                                <p>Express.js<span>85%</span></p>
                                                    <div class="meter nostrips web-applications">
                                                        <p style="width: 85%"></p>
                                                    </div>
                                            </div>
                                        </div>
                                </div><!-- box-text -->
                            </div><!-- skills-area -->
                        </div><!-- col-md-6 -->
                </div>
            </div>
        </div>
</section>
