<!-- home.html -->
<section id="section1" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-content">
                    <h1> HELLO, IT'S ME... </h1>
                    
                    <div class="col-md-4">
                        <div class="box-text">
                        <h2>TL;DR</h2>
                        <p>I'm a full-stack developer fluent in client-side and server-side Javascript. Always working hard to stay on the bleeding edge of technology to assist and create beautifully engineered, genuinely useful and edgy products. </p>
                                <p>I'm currently exploring React.js and Angular 2, also diving into the world of mobile development with React-Native.js</p>
                                <p><em>I love coding!</em></p>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="box-img">
                            <img src="images/ariffacepic001.png" alt="ariffacepic" />
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="box-text">
                            <h2>Frameworks & Libraries</h2>
                            <p>Angular.js [1x & 2.0], Node.js, Express.js</p>
                            <p>React.js & React-Native.js</p>
                            <p>Ruby on Rails</p>
                            <h2>Language and Database</h2>
                            <p>JavaScript [es5, es6]</p>
                            <p>MongoDB, Firebase</p>
                            <p>SQL, MySQL</p>
                        </div>
                    </div>
                </div><!--close box content-->
            </div>
        </div><!--close row-->
    </div><!--close container-->

    <div class="parallax1">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="box-img">
                                <img src="images/object.png" alt="" />
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="box-text">
                            <h2>Fun Fact!</h2>
                                <p>Outside programming and web development, I'm a big fan of fitness (soul-cycle/spinning, anyone?), nutrition, and a dash of men's couture. Based in Union Square, San Francisco, you will find me often at meetups/some events in the city. </p>
                                <p>Day & night I'm working on my oh-so-secret <a href="#/portfolio">projects</a> and share my code on 
                                <a href="https://github.com/ariffurqon" target="_blank">GitHub.</a> More of me on 
                                <a href="https://www.linkedin.com/in/ariffurqon" target="_blank">LinkedIn.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box-img">
                            <img src="images/object1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- overlay -->
    </div> <!-- parallax1 -->
</section>
















    
    <!-- <div>
        <h2><img src="images/facepic.png" class="img-circle" alt="facepic" width="150" height="150"/></h2>

        <p>I'm a full-stack software engineer fluent in client-side and server-side Javascript. Always working hard to stay on the bleeding edge of technology to assist and create beautifully engineered, genuinely useful and edgy products. </p>
        <p>I'm currently exploring React.js and Angular 2, also diving into the world of mobile development with React-Native.</p>
        <p><em>I love coding!</em></p>

        <p>Outside programming and web development, I'm a big fan of fitness (soul-cycle/spinning, anyone?), nutrition, and a dash of men's couture. Based in Union Square, San Francisco, you will find me often at meetups/some events in the city. Day & night I'm working on not-so-secret <a href="#/portfolio">projects</a> and share my code on 
        <a href="https://github.com/ariffurqon" target="_blank">GitHub.</a> More of me on 
        <a href="https://www.linkedin.com/in/ariffurqon" target="_blank">LinkedIn.</p>
    </div>
 -->




