<div class="container-fluid">
  <div class="text-center">
    <h2>Recent Projects</h2>
    <h4>Please visit my github for other side projects</h4>
  </div>

  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Web App</h3>
        </div>
        <div class="panel-body">
          <img src="images/dlish.png" width="300" height="300">
        </div>
        <div class="panel-footer">
          <h3>dlish</h3>
          <h4>A web application for curating the best foodie adventures built using Angular.js frameworks with Firebase.</h4>
          <a class="github" href="https://github.com/ariffurqon/dlish" target="_blank">
              <img src="images/github.png" class="img-circle" width="30" height="30">
          </a>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Mobile App</h3>
        </div>
        <div class="panel-body">
          <img src="images/biblio.png" width="300" height="300">
        </div>
        <div class="panel-footer">
          <h3>biblio</h3>
          <h4>A mobile application for searching books built using the awesomeness of React-Native with googlebooks api.</h4>
          <a class="github" href="https://github.com/ariffurqon/biblio" target="_blank">
              <img src="images/github.png" class="img-circle" width="30" height="30">
          </a>
        </div>
      </div>      
    </div> 

    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Desktop App</h3>
        </div>
        <div class="panel-body">
          <img src="images/spider.png" width="300" height="300">
        </div>
        <div class="panel-footer">
          <h3>spider</h3>
          <h4>A tabbed browser desktop application built using NW.js/Node-Webkit.js, express and Angular.js</h4>
          <a class="github" href="https://github.com/ariffurqon/spider" target="_blank">
              <img src="images/github.png" alt="github" class="img-circle" width="30" height="30">
          </a>
        </div>
      </div>      
    </div>    
  </div>
</div>


