<!-- portfolio.html -->
    <section id="section2" class="cd-section">
        <div class="container">
          <div class="row">
            <div class="box-content">
                <h1> RECENT WORKS </h1>
                <!-- Category Filter -->
                    <dl class="group"><hr>
                       <dt></dt>
                        <dd>
                            <ul class="filter group albumFilter"> 
                                <li class="cl-effect-11 current"><a data-hover="SHOWALL" ng-click="myFilter = undefined" class="active" href="">SHOWALL</a></li> 

                                <li class="cl-effect-11"><a data-hover="WEB" ng-click="myFilter = {category: 'web'}" href="">WEB</a></li> 

                                <li class="cl-effect-11"><a data-hover="MOBILE" ng-click="myFilter = {category: 'mobile'}" href="">MOBILE</a></li> 

                                <li class="cl-effect-11"><a data-hover="DESKTOP" ng-click="myFilter = {category: 'desktop'}" href="">DESKTOP</a></li> 

                            </ul> 
                        </dd>
                    </dl>
                    <div class="portfolio albumContainer activegrid" ng-controller="dataImagesWork">
                            
                    <ul id="product" class="nav-pills nav-stacked rectangle-list" ng-controller="dataImagesWork">
                            <li class="col-md-12 my-gallery-animation item grid" ng-repeat="product in images_work | filter:myFilter" >
                                <figure class="effect-portfolio">
                                    <a href=""><img ng-src="images/{{product.src}}" alt="" /></a>                              
                                    <figcaption>
                                            <p>{{product.description}}</p>
                                            <a href="templates/{{product.url_details}}" class="smooth-redirect" ></a>
                                    </figcaption>   
                                </figure>
                          </li> 
                      </ul>
                            
                      </div>
             </div><!--close box content-->
          </div>
      </div>

     
    <script>
        /********************************************
        CAROUSEL
        ********************************************/
        $("#owl-demo").owlCarousel({

            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

        });
    </script>
    <script>
        $('.albumFilter li').on("click", function () {
            $('.albumFilter .current').removeClass('current');
            $(this).addClass('current');
        });
    </script>

    <script type="text/javascript">
        /********************************************
        CLOSE PAGE DETAIL
        ********************************************/
//        $(document).ready(function () {
        $(".smooth-redirect").on("click", function (event) {
                event.preventDefault();
                linkLocation = this.href;
                $("body").fadeOut(1000, redirectPage);
            });
            function redirectPage() {
                window.location = linkLocation;
            }
//        });
   </script>
    
